[Unit]
Description=Jenkins
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /var/lib/jenkins/swarm-client-2.2-jar-with-dependencies.jar -master http://jenkins-master:8080 -username {{ jenkins_admin_username }} -password {{ jenkins_admin_password }}
Restart=always
User=jenkins
RestartSec=20

[Install]
WantedBy=multi-user.target